!

<form method="post">
    <label id = "name"for="name">Name:</label><br>
    <input type="text"name="name"><br>
    <label for="address">Address:</label><br>
    <input type="text" name="address"><br>
    <label for="from_date">From Date:</label><br>
    <input type="date" name="from_date"><br>
    <label for="to_Date">To date:</label><br>
    <input type="date" name="to_Date"><br>
    <label for="sic">SIC:</label><br>
    <input type="text"  name="sic"><br>
    <label for="lst_account">Last Account Made upto:</label><br>
    <input type="text"  name="lst_account"><br>
    <label for="l=nxt_account"> Next Accounts upto:</label><br>
    <input type="text"  name="nxt_account"><br>
    <input type="submit"  value="search">
    
    
  </form>
